{% load static %}
<div>
    <img src="{% static 'images/svgs/threads_logo.svg' %}">
    Threads
</div>
<div>
    <a href="{% url 'feed' %}">
        <img src="{% static 'images/svgs/for_you_logo.svg' %}">
    </a>
    For you
</div>
<div>
    <button id="openModal" class="postsButton">
        <img src="{% static 'images/svgs/new_thread.svg' %}">
    </button>
    New thread
</div>
<div>
    <a href="{% url 'search' %}">
        <img src="{% static 'images/svgs/search_logo.svg' %}">
    </a>
    Search
</div>
<div>
    <a href="{% url 'activity' %}">
        <img src="{% static 'images/svgs/like_logo.svg' %}">
    </a>
    Activity
</div>
<div>
    <a href="{% url 'profile' %}">
        <img src="{% static 'images/svgs/profile_logo.svg' %}">
    </a>
    Profile
</div>
<div>
    <a href="{% url 'saved' %}">
        <img src="{% static 'images/svgs/saved_logo.svg' %}">
    </a>
    Saved
</div>
