* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

.form-details {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url('/static/images/login-threads.avif');
  background-size: contain;
  background-repeat: no-repeat;
  color: white
}
form {
  width: 30%;
  height:20%;
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: black;
  color: white;
  padding: 4px;
}
.button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid grey;
}